<section class="faq">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 title-wrapper">
            <h3>Preguntas Frecuentes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="question">¿Cómo otorgo puntos?</p>
            <p>En si no “otorgas puntos”, sino que otorgas reconocimientos a través de Insignias que a su vez se convierten en puntos listos para canjear por recompensas.</p>
            <p class="question">¿Cómo obtengo puntos en Valora?</p>
            <p>Los puntos se pueden obtener de varias maneras:</p>
            <ol>
                <li>Por tu actividad recurrente en Upgrade y ser parte de “Estrellas Presidente”</li>
                <li>Por calificación mínima de “3” en la Evaluación de Desempeño.</li>
                <li>Por cada año laborando en Grupo Presidente</li>
                <li>Por reconocimiento de alguien más en Valora, ya sea por tu Jefe inmediato, tus demas compañeros o por alguna ocasión especial por parte de Grupo Presidente.</li>
            </ol>
            <p class="question">¿Que son las “insignias”?</p>
            <p>Las Insignias son reconocimientos que nos permiten visibilizar en Valora todo tu buen desempeño y participación efectiva dentro de la empresa.</p>
            <p>Hay 4 tipos de Insignia:</p>
            <ol>
                <li>Valores  y Competencias: Son las que puedes otorgar y recibir gracias a la tabla que se muestra en la página de “inicio”.</li>
                <li>Especiales. Estas Insignias pueden ser reconocimientos directos de tu jefe inmediato o de ocasiones especiales de otros compañeros. Las reconocerás por la letra ”e” en la tabla de inicio.</li>
                <li>Presidente*: son las que reflejan tu participación y buenos resultados en Upgrade, tu Evaluación de Desempeño y los años que cumples en la empresa. Estas no se otorgan por nadie, solamente son un reflejo de tus resultados en dichos conceptos.</li>
            </ol>
            <p class="question">¿Dónde puedo ver los puntos que obtengo?</p>
            <p>En “tiempo real” podrás ver en la sección “Estado de Cuenta” todos los puntos que obtienes a través de tus Insignias, tus puntos de Upgrade, Evaluación de Desempeño, etc. asi como los puntos que se te han restado por canjear alguna recompensa.</p>
            <p class="question">Los puntos que utilizo para otorgar Insignias a mis compañeros en la Tabla de Inicio, ¿se descuentan de mi estado de cuenta?</p>
            <p>No. Los puntos que usas para otorgar Insignias son independientes a tu estado de cuenta. Estos se destinan exclusivamente para que los puedas otorgar a tus compañeros y tienen fecha de caducidad.</p>
            <p class="question">¿Por qué no puedo otorgar Insignias a algunos compañeros?</p>
            <p>Valora está planeado para los colaboradores que tienen 1 año como mínimo laborando en la empresa, por lo que si no ves a alguien al momento de otorgar Insignias, revisa que tengan un año como mínimo con nosotros.</p>
            <p class="question">Al momento de canjear mis puntos en Valora, ¿pierdo mi posición en la tabla de “Estrellas Presidente” de Upgrade?</p>
            <p>No. Cuando canjeas tus puntos por recompensas en Valora, los puntos que has obtenido en Upgrade se suman a todos los demás para poder tener suficientes puntos y poder canjear, pero tu categoría no la pierdes. En el momento que tu subes de categoría en “Estrellas Presidente” de Upgrade, se verá plasmado en tus “Insignias Presidente” con el cambio de Insignia Upgrade, y la suma de los puntos nuevos los verás reflejados en tu Estado de Cuenta cada semana.</p>
        </div>
    </div>
</section>