<section class="how">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 title-wrapper">
            <h3>Como funciona</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 video">
            <p>Consulta el siguiente video tutorial para conocer las secciones y funciones de Valora.</p>
            <iframe id="playerid" width="100%" height="315" src="" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>A través de la siguiente infografía podrás revisar de manera fácil y resumida el funcionamiento de la plataforma Valora, cómo otorgar y recibir puntos y como canjearlos por recompensas.</p>
            <img class="infographic" src="../../assets/images/Valora-infografia.jpg" alt="Infografía">
        </div>
    </div>
</section>