.admin-nav
  background-color aloha_light_blue
  .navbar-collapse
    .navbar
      height 59px
      padding 0
      text-align center
      width 100%
      li
        display inline-block
        float none
        height 100%
        padding 2px
        a
          font-size 12px
          height 100%
          padding 15px 5px
        a:hover
          background-color #7a5a5b
          color #FB8C8D
