.left-column
  border-right 1px solid #E5E5E5
  .profile-block
    border-bottom 1px solid #E5E5E5
    height 120px
    margin 20px auto;
    .profile-img-block
      float left
      margin-right 14px
      position relative
      .img-circle
        background-position center center
        background-repeat no-repeat
        background-size cover
        height 60px
        width 60px
      .add-profile-img
        background url("../images/valora-sprites.png") no-repeat -156px -35px
        bottom: -4px
        height: 16px
        position absolute
        right 6px
        width 16px
    .info
      float: left
      max-width 190px
      p
        margin auto auto 2px auto
      .name
        font-size 1.2em
        text-transform capitalize
      .location
        font-size .8em
      .points
        font-size 1.3em
        color aloha_strong_blue
  .left-menu
    li
      //background url("../images/dot-list.png") no-repeat left top;
      list-style: none
      margin 0
      padding 0 0 25px 27px
      position relative
      a
        color #4D4D4D
        vertical-align middle
        text-decoration none
      a:hover
        color aloha_light_blue
      span.badge-warning
        background-color aloha_mint
      /*span
        background-image url("../images/valora-sprites.png")
        background-repeat no-repeat
        display: block
        height 21px
        left -10px
        position absolute
        width 21px
      span.my-activity
        background-position -227px -125px
      span.rewards
        background-position -227px -152px
      span.account
        background-position -227px -65px
      span.my-badges
        background-position -229px -95px
      span.badge
        background-color red
        display inline-block
        line-height 1.2
        margin-left 10px
        padding-left 3px
        position relative*/
  .valores,
  .competencias
    .embajador-wrapper
      p
        text-align center
      .img-wrapper
        height 140px
        position relative
        width 100%
        img
          left 50%
          margin-left -50px
          position absolute
          width 100px
      .embajador
        font-size 1em
      .name
        color #FB8C8D
        font-size 1.1em
        letter-spacing .4em
        text-transform uppercase
      .count
        color #B3B3B3
        font-size .8em
    .ver-mas
      height 30px
      position relative
      text-align center
      vertical-align middle
      width 100%
      a
        border 1px solid #000000
        color #000000
        display inline-block
        left 50%
        line-height 30px
        margin-left -55px
        position absolute
        text-decoration none
        width 115px
  .valores
    border-bottom 1px solid #E5E5E5
    .valores-title
      background-color #000000
      color aloha_mint
      font-size 1.1em
      height 37px
      line-height 37px
      text-align center
      vertical-align middle
    .ver-mas
      a
        font-weight bold
        left initial
        right 3%
  .competencias
    .competencias-title
      background-color #4D4D4D
      color #FFFFFF
      font-size 1.1em
      height 37px
      line-height 37px
      text-align center
      vertical-align middle
  .mentions
    height 400px
    overflow: hidden
    .title
      background-color #000000
      color aloha_mint
      font-size 1em
      height 37px
      line-height 37px
      text-align center
    .mention-wrapper
      height 100%
      overflow hidden
      .mention
        border-bottom 1px solid #e5e5e5
        margin-bottom 2px
        padding 4px
      .date
        font-size 10px
        margin 1px auto
        text-align right