<div class="course-detail-wrapper">
    <!--<h4 class="course-title">Curso destacado</h4>-->
    <div class="course-wrapper">
        <div class="video-wrapper">
            <video width="100%" height="280" controls>
                <source src="../../../assets/videos/enpowerment/extranos.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <ul class="course-chapters">
            <li><a href="#" ng-click="loadVideo('extranos.mp4')">1. Extraños</a></li>
            <li><a href="#" ng-click="loadVideo('elevador.mp4')">2. Elevador</a></li>
            <li><a href="#" ng-click="loadVideo('admin.mp4')">3. Administración</a></li>
            <li><a href="#" ng-click="loadVideo('queja.mp4')">4. Queja</a></li>
            <li><a href="#" ng-click="loadVideo('hospedaje.mp4')">5. Hospedaje</a></li>
            <li><a href="#" ng-click="loadVideo('alberca.mp4')">6. Alberca</a></li>
            <li><a href="#" ng-click="loadVideo('areas-mojadas.mp4')">7. Áreas mojadas</a></li>
            <li><a ui-sref="training.evaluations">Ir a evaluación</a></li>
        </ul>
    </div>
    <div class="details-wrapper">
        <div class="course-details">
            <div class="title-options">
                <div class="title-wrapper">
                    <h4>Empowerment</h4>
                </div>
                <div class="options-wrapper">
                    <ul class="options">
                        <li>15 pts</li>
                        <li><span class="comment-icon active"></span>8</li>
                        <li><span class="heart active"></span>16</li>
                        <li><span class="share"></span>18</li>
                    </ul>
                </div>
            </div>
            <div class="categories">
                <p>Categoría: Soft Skils</p>
            </div>
            <div class="description">
                <p>Descripción</p>
                <p>En este curso podremos ver diferentes situaciones que se presentan en nuestro día a día y la mejor
                    forma de resolverlas.
                </p>
            </div>
            <p class="duration">Duración: 00.07:54</p>
            <p class="points">Puntos: 15 pts</p>
            <div class="comments">
                <p>Haz un comentario:</p>
                <textarea></textarea>
            </div>
        </div>
        <div class="other-courses-wrapper">
            <p>Otros cursos</p>
            <div class="other-courses">
                <div class="course-block">
                    <div class="venta-exitosa">
                        <img src="../../../assets/images/training/venta-exitosa-curso.jpg" />
                    </div>
                    <ul class="options">
                        <li>15 pts</li>
                        <li><span class="comment-icon active"></span>8</li>
                        <li><span class="heart active"></span>16</li>
                        <li><span class="share"></span>18</li>
                    </ul>
                </div>
                <div class="course-block">
                    <div class="atencion-a-clientes">
                        <img src="../../../assets/images/training/atencion-a-clientes.jpg" />
                    </div>
                    <ul class="options">
                        <li>16 pts</li>
                        <li><span class="comment-icon"></span>8</li>
                        <li><span class="heart"></span>1</li>
                        <li><span class="share active"></span>2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>