@import "aloha/variables.styl"
@import "aloha/common.styl"
@import "aloha/home.styl";
@import "aloha/login.styl";
@import "aloha/footer.styl";
@import "aloha/acknowledgment.styl";
@import "aloha/my-badges.styl";
@import "aloha/feed-block.styl";
@import "aloha/training.styl";
@import "aloha/dashboard.styl"

.dynamic-content
  height 100%
  padding-left 40px
  padding-right 40px
.dynamic-content.loginActive
  padding-left 15px
  padding-right 15px
.dynamic-content
  .logo-gp-wrapper
    background-color #464646
    bottom 0
    .gp-logo
      background-image url("../images/valora-medium-sprites.png")
      background-position 0 -283px
      background-repeat no-repeat
      height 57px
      left 50%
      margin-left -158px
      position absolute
      width 316px
  .viewMore
    margin-top 15px
    p
      text-align center
      width 100%
      a
        border 1px solid #979797
        color inherit
        display inline-block
        padding 4px 30px
        text-decoration none
        vertical-align middle
  .section-title
    font-size 0.9em
    margin 25px auto 20px;
    p
      font-size 1.3em
      margin-bottom 0px
      text-align center
  .title-wrapper
    height 40px
    margin-top 22px
    position relative
    h3
      border-bottom 1px solid aloha_blue
      color: aloha_blue
      height 40px
      left 10px
      line-height 40px
      margin 0
      text-align center
      vertical-align bottom
      width 250px
  .faq
    .title-wrapper
      h3
        width 300px
    .question
      color #FB8C8D
      margin-top 30px
  .how
    .video
      margin-top 50px
    .infographic
      margin-top 50px
      width 100%
  .passChange
    .title-wrapper
      h3
        width 300px
    .form-group
      position relative
      .error
        bottom 10px
        color: red
        position absolute
        right -87px
      .no-match
        bottom 40px
        right -200px
    .btn-wrapper
      text-align right
      .btn
        background-color transparent
        border 2px solid #979797
        border-radius 0
        font-size 14px
        width 115px
  .contact
    .title-wrapper
      h3
        width 130px
    .contact-directory
      h5
        font-weight 600
        margin-bottom 0
      p
        margin 0 auto
    .contact-info
      margin-top 50px
    .redirect
      text-decoration none
      color inherit
    .redirect:hover
      color #FB8C8D
  .description-wrapper
    margin-top 20px
    p
      font-size 1em
    .return
      color: inherit
  .wish-list
    .block-wrapper
      margin-top 10px
      p
        display table-cell
        padding-left 50px
        vertical-align middle
        font-size 1.2em
        margin 10px 5px
        padding-left 10px
      .description,
      .delete,
      .block,
      .cloths
        float left
        height 200px
        overflow hidden
        width 200px
        label
          width 40px
        p
          display inline-block
          font-size 0.8em
          margin 2px 4px
          width 100%
          select
            margin-left 10px
      .block
        background-position center center
        background-repeat no-repeat
        background-size cover
      .delete,
      .balance
        display table
        height 200px
        overflow hidden
        width 300px
    .delete-btn
      background-color #FFFFFF
      border-radius 0
      color inherit
      cursor pointer
      display block
      font-size 0.7em
      text-align center
      text-decoration none
      span
        color #db1f23
        font-size 1.4em
    .btn
      background-color #FFFFFF
      border 2px solid #949494
      border-radius 0
      color #5e5e5e
      font-weight bold
  .wish-list
    .delete,
    .balance
      width 100%
    .balance
      p
        padding-left 5px
  .admin-content
    background-color #dbdbdb
    .preview
      max-width 200px
    .admin
      margin-bottom 80px
      overflow: auto
      scroll
      input[type="text"],
      input[type="number"],
      select,
      .btn-info,
      .datepicker
        border-radius 0
        border 1px solid #fb8c8d
      input[type="text"],
      input[type="number"],
      select
        width 200px
      .datepicker
        min-height 252px
        .well
          margin-bottom 0
      hr
        margin-bottom 5px
        margin-top 5px
      .btn-info
        background-color #d6d6d6
      .title-wrapper
        border-bottom 2px solid #d6d6d6
        height 100px
        h4
          line-height 100px
          margin 0
      .btn-admin-wrapper
        height 30px
        position relative
        .btn-admin
          background-color color_pink
          border 1px solid #4d4d4d
          border-radius 0
          color: #FFFFFF
          height 100%
          position absolute
          right: 15%
        .btn-csv
          right 25%
      .btn-options
        color inherit
        font-size 0.7em
        text-decoration none
        cursor pointer
      .btn-options:hover
        color color_pink
      .img-thumbnail
        max-height 100px
        max-width 100px
      #editBanner
        display none
      .charts-content
        position relative
        .data-wrapper
          height 550px
          left 20px
          overflow hidden
          position absolute
          overflow-y scroll
          top 55px
          width 280px
          z-index 1
        .panel
          .btn-admin-wrapper
            height 51px
            .btn-admin
              height 30px
      .total-points-report
        background-color #F5F5F4
        margin-bottom 10px
        padding-top 20px
        label
          margin-left 10px
          width 200px
      .table-titles
        border-bottom 1px solid #fb8c8d
        margin-top 40px
        .label-wrapper
          tr
            th
              height 65px
              padding 0 2px
              text-align left
              vertical-align top
            .employeeN
              width 99px
            .location
              width 270px
            .sender
              width 250px
            .senderN
              width 99px
            .badgeName
              width 170px
      .data-wrapper
        tr
          td
            padding 0 5px
          .employeeN
            width 99px
          .location
            font-size .8em
            width 100%
          .sender
            width 250px
          .badgeName
            width 170px
      .general-report
        label
          width 140px
        .btn-admin-wrapper
          .btn-admin
            margin-right -55px
            right 50%
            width 110px
      table
        .orderBy
          a
            color color_pink
            text-decoration none
      .orderBy
        a
          color color_pink
          text-decoration none
      .dynamic-content
        border-bottom 1px solid #979797
        button
          margin-top 10px
      .numeration
        color color_pink
    .admin.rewards-report
      .datepicker-wrapper
        text-align center
    .gp-badges
      .title-wrapper
        height 100%
        h4
          line-height 2
    .form-title
      margin 50px 0
    .temporal-pass
      .tips
        ul
          li
            margin-top 5px
  .feed
    .notification-message
      color: primary_green
      font-size 1.3em
    .btn-filter-wrapper
      margin 10px auto
      text-align center
      .btn-filter
        background-color #FFFFFF
        border 1px solid #979797
        cursor pointer
        font-size .8em
        margin 0 2px
        padding 1px 6px
        text-transform uppercase
      .btn-filter.active
        background-color #e6dcd7
      .description
        font-size .8em
        margin-top 0
        margin-left 10px
        text-align left
    .btn-filter-wrapper > div
      border-bottom 1px solid #979797
      padding-bottom 12px
    .feed-wrapper
      .createdAt
        font-size 10px
        margin 0 auto
        text-align right

    #likeModal
      .modal-dialog
        width 460px
        .modal-header
          .modal-title
            .heart
              background url("../images/valora-sprites.png")
              background-position -384px -51px
              background-repeat no-repeat
              display inline-block
              height 14px
              width 16px
        .modal-body
          ul
            list-style none
    .collaboratorsModal
      background-color #e6dcd7
      height auto
      position absolute
      right 0
      top 10%
      width 300px
      z-index 1
      .close-popup-wrapper
        margin-bottom 0
        text-align right
        .close-popup
          cursor: pointer
          font-size .8em
          margin auto 10px
        .close-popup:hover
          font-size .9em
      ul
        font-size 0.9em
        list-style-type none
        margin 2px 0 10px 0
        padding 4px 20px
        li
          cursor pointer
        li:hover
          background-color #fb8c8d
  .profile-image
    margin-top 50px
    .form-wrapper
      p:last-child
        text-align right
      .btn
        background-color #FFFFFF
        border 2px solid
        border-radius 0

  .preferences
    .preferences-body
      .form-wrapper
        .notification
          width 300px
        .notification-points
          margin-top 50px
        input[type="checkbox"]
          display none
        input[type="checkbox"] + label span
          background: url('../images/valora-sprites.png') -339px -85px no-repeat
          cursor pointer
          display inline-block
          height 19px
          margin -2px 10px 0 0
          vertical-align middle
          width 19px
        input[type="checkbox"]:checked + label span
          background url('../images/valora-sprites.png') -364px -86px no-repeat
        input[type="button"]
          background-color #FFFFFF
          border 1px solid #979797
          font-size 14px
          height 30px
          margin-top 20px
          padding 1px 4px
          width 130px
        input[type="button"]:hover
          background-color #e6e6e6
  .feed-comments,
  .reward-comments
    .comments-list
      .collaboratorName
        color color_pink
        font-size 0.7em
      .btn-admin
        background-color color_pink
        border 1px solid #4d4d4d
        border-radius 0
        color #FFFFFF
        margin-left 15px

#videoModal
  top 10%

#profileImageModal
  .modal-dialog
    .modal-content
      .close
        background-color #FB8C8D
        border 1px solid
        border-radius 50px
        height 50px
        opacity 1
        padding 4px
        position absolute
        right -30px
        top -20px
        width 50px
        z-index 10
        span
          border-radius: 40px
          width: 40px
          color: #FB8C8D
          height: 40px
          background-color: #FFFFFF
          display: block
          font-size: 1.5em
          line-height: 36px
      .modal-header
        background-color #696969
        color #FFFFFF
      .modal-footer
        background-color #696969
        .btn
          background-color: #fff
          border 2px solid #979797
          border-radius 0
          font-size 14px
          width 115px

/* Small devices (tablets, 768px and up)
@media medium

/* Medium devices (desktops, 992px and up)
@media large
Large devices (large desktops, 1200px and up) */
@media xlarge
  .login
    .login-form
      .form-group
        .error
          right -25%
          top 36%

@media large
  .dynamic-content
    .feed
      .btn-filter-wrapper
        .btn-filter
          display inline-block
          margin 5px 3px
      .feed-wrapper
        .createdAt
          margin-top 15px
        .feed-content
          .comment
            bottom  12px
            right 20px
          .like
            right 10px
            height initial
            bottom 8px
  @media medium
    .dynamic-content
      .feed
        .feed-wrapper
          .feed-content
            .feed-text
              width 85%
@media small
  //admin header
  .navbar-default navbar-collapse  .admin-menu .admin-link
    height: inherit
    margin 0 auto
  .navbar-default
    .navbar-collapse
      .admin-menu
        height inherit
        margin-left 0
        display inline-block
  .admin-nav
    .navbar-collapse
      .navbar
        height auto
        display flex
        overflow-x auto
        white-space nowrap

    .container-fluid
      .collapse
        display block
        background #fb8c8d

  .navbar-default
    .navbar-collapse
      background #696969
      position relative
      z-index 2
      .navbar-nav
        li
          a
            border-bottom 1px solid transparent
            padding 4px
  .login
    .login-form
      text-align center
      margin-top 0px
      form
        height auto
      .form-control
        margin-left 0px
      .form-group
        label
          text-align center
        span
          text-align center
          position relative
          display block
          top inherit
          right initial
      .btn-wrapper
        text-align center
  .dynamic-content
    .feed
      .btn-filter-wrapper
        .btn-filter
          display inline-block
          margin 5px 3px
      .feed-wrapper
        .createdAt
          margin-top 15px
        .feed-content
          .comment
            bottom  10px
            right 20px
          .like
            right 10px
            height initial
            bottom 8px
@media small
  .dynamic-content
    padding 0
    .recognize-badges
      .badges-container
        //MODAL
        #recognize
          left 5%
          right 5%
          width auto
          box-sizing content-box
        margin-left 0
        .badge-wrapper
          height auto
          margin 0 auto
          width auto
          display block
          .badge-img-wrapper
            margin-left 0
            left inherit
            position relative
            margin 0 auto
          .badge-description
            padding 0
            height auto
            display block
            width auto
            margin 0 auto
            p:first-child
              padding-top 0!important
              height auto!important
              display block
        .competences-carousel-wrapper
          .competences-carousel
            display block
            height auto
            left initial
            overflow hidden
            width auto
        .special-carousel-wrapper
          .special-carousel
            .badge-wrapper
              display block
    .pagination-wrapper
      margin-top 50px
      max-height inherit
      .pagination-col
        padding 0
        height auto
        .btn
          display block
          margin 10px auto
        .pagination
          display flex
          width auto
          height auto
          overflow hidden
          justify-content center
          a
            span
              width auto
            span.circle:hover
              background transparent
              text-decoration underline
          > li
            > a
              padding 0px 5px
@media small
  footer
    .gp-wrapper
      .gp-logo
        position relative
        width 80%
        left 0
        margin 0 auto
  .dynamic-content
  .feed
    .feed-wrapper
      .feed-content
        .feed-text
          margin-bottom 20px
    .recognize-badges
      .categories
        margin 10px 0
        .block-wrapper
          p
            font-size 11px
            top 98px
            line-height 1
            bottom inherit
      .choose-collaborator-wrapper
        height inherit
        .choose-collaborator
          margin 0 auto
          .badge-form
            min-height 200px
            input[type="text"]
              width 100%
            .collaborators-wrapper
              width 100%
  .dynamic-content
    .title-wrapper
      height inherit
    .rewards-header
      .my-list
        position relative
        height inherit
        top inherit
        right inherit
        margin  5px 0 0 0
    .title-wrapper
    height inherit
    .my-activity
      .activity-list
        height inherit
        padding-bottom 10px

@import "aloha/my-activity.styl";
@import "aloha/account-status.styl";
@import "aloha/rewards.styl";
@import "aloha/checkout.styl";