html,
body
  color #000000
  font-family 'Montserrat', sans-serif;
.container-fluid
  height 100%
.pink-font
  color color_pink
.navbar
  border 0
  margin-bottom 0
#loader
  background-image url("../images/loader.gif")
  background-color transparent
  background-position center center
  background-size contain
  display: none
  height 150px
  left 50%
  margin-left -100px
  position absolute
  top 40%
  width 200px
  z-index 1
#loaderBackground
  background-color #FFFFFF
  display none
  height 100%
  opacity 0.7
  position fixed
  top 0
  width 100%
.highlight-text
  color aloha_strong_blue
.insignia-wrapper
  p
    color #000000
    font-size .8em
    text-align center
  .count
    a
      //background-color #FB8C8D
      //border-radius: 50%;
      color aloha_strong_blue
      display inline-block
      font-weight bold
      padding 2px
      width: 20px;
      height: 20px;
    a:hover
      color aloha_mint
      text-decoration none
  .img-wrapper
    background-size contain
    background-position center center
    background-repeat no-repeat
    height 58px
    position relative
    width 100%
    img
      left 50%
      margin-left -20px
      position absolute
      width 100%
  .name
    height 50px
    margin-top 6px