.login
  height 100%
  position relative
  p,label
    color #696969
    font-weight lighter
    line-height 23px
  .big-badge
    background-image url("../images/aloha/fondo_login.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: contain
    height: 530px
    position: absolute
    left: -200px
    top: 121px
    width: 630px
  .custom-nav
    background-color #696969
    height 60px
    width 100%
  .logo-wrapper
    height 345px
    position relative
    .logo-med
      background-image url('../images/aloha/aloha.png')
      background-position center
      background-repeat no-repeat
      background-size contain
      height 235px
      left 50%
      margin auto -147px
      position absolute
      top 105px
      width 295px
  .gp-wrapper
    height 146px
    position relative
    .gp-logo
      background url('../images/valora-sprites.png') no-repeat -152px -168px;
      height 146px
      left 50%
      margin auto -193px
      position absolute
      top 150px
      width 387px
  .welcome
    font-size 21px
    letter-spacing 0.2em
    margin-top 50px
    text-align center
    .valora-word
      background url('../images/valora-sprites.png') no-repeat -364px -8px
      display inline-block
      height 21px
      width 73px
  .login-form
    margin-top 20px
    form
      display table
      height 230px
    .btn-wrapper
      text-align right
    .form-group
      position: relative
      span
        top 55%
        position absolute
        right -51px
      span.error
        color aloha_pink
      span.numeric
        right -126px
      label
        text-align right
        width 186px
      .btn-login
        background-color aloha_light_blue
        border 1px solid aloha_light_blue
        border-radius 0
        color #FFFFFF
        text-transform uppercase
        width 201px
      .pass-recovery
        color inherit
        margin-right 20px
        text-decoration none
      .pass-recovery:hover
        color aloha_pink
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

    input[type="number"]
      -moz-appearance: textfield
    .form-control
      border 1px solid aloha_pink
      border-radius 0
      display inline
      height 40px
      margin-left 20px
      width 200px
  .logo-gp-wrapper,
  .login-col-4
    height 57px
    position fixed
    width 100%
  .logo-gp-wrapper
    background-color #464646
    bottom 0
    .gp-logo
      background-image url("../images/valora-medium-sprites.png")
      background-position 0 -283px
      background-repeat no-repeat
      height 57px
      left 50%
      margin-left -158px
      position absolute
      width 316px
  .login-col-4
    background-color #686868
    top 0