@import "variables.styl"
@import "common.styl"
@import "home/home.styl"
@import "admin/menu.styl"
@import "login.styl"
@import "my-activity.styl"
.dynamic-content
  height 100%
  padding-left 40px
  padding-right 40px
.dynamic-content.loginActive
  padding-left 15px
  padding-right 15px
.dynamic-content
  .viewMore
    margin-top 15px
    p
      text-align center
      width 100%
      a
        border 1px solid #979797
        color inherit
        display inline-block
        padding 4px 30px
        text-decoration none
        vertical-align middle
  .section-title
    font-size 0.9em
    margin 25px auto 20px;
    p
      font-size 1.3em
      margin-bottom 0px
      text-align center
  .title-wrapper
    height 40px
    margin-top 22px
    position relative
    h3
      background-color aloha_light_blue
      border 2px solid #979797
      color: #FFFFFF
      height 40px
      left 10px
      line-height 40px
      margin 0
      text-align center
      vertical-align bottom
      width 250px
  .faq
    .title-wrapper
      h3
        width 300px
    .question
      color #FB8C8D
      margin-top 30px
  .how
    .video
      margin-top 50px
    .infographic
      margin-top 50px
      width 100%
  .passChange
    .title-wrapper
      h3
        width 300px
    .form-group
      position relative
      .error
        bottom 10px
        color: red
        position absolute
        right -87px
      .no-match
        bottom 40px
        right -200px
    .btn-wrapper
      text-align right
      .btn
        background-color transparent
        border 2px solid #979797
        border-radius 0
        font-size 14px
        width 115px
  .contact
    .title-wrapper
      h3
        width 130px
    .contact-directory
      h5
        font-weight 600
        margin-bottom 0
      p
        margin 0 auto
    .contact-info
      margin-top 50px
    .redirect
      text-decoration none
      color inherit
    .redirect:hover
      color #FB8C8D
  .description-wrapper
    margin-top 20px
    p
      font-size 1em
    .return
      color: inherit
  .rewards-header
      .my-list
        border 1px solid #979797
        height 24px
        line-height 24px
        position absolute
        right 16px
        text-align center
        top 8px
        vertical-align bottom
        width 95px
        a
          color #4D4D4D
          text-decoration none
        span
          background url('../images/valora-sprites.png') no-repeat -360px -33px
          display inline-block
          height 16px
          margin-right 15px
          width 16px
      .description-wrapper
        .filters
          a
            background-color #FFFFFF
            border 1px solid #979797
            color inherit
            cursor: pointer
            display inline-block
            font-size 0.8em
            margin 0 2px
            padding 3px 6px 0 6px
            text-decoration none
            text-transform uppercase
            span
              color color_pink
  .rewards-blocks
    .block-wrapper
      height 294px
      margin-top 41px
      .block
        height 241px
        position relative
        width 100%
        .block-header
          height 21px
          position relative
          width 100%
          .new.active
            display: block
          .new
            background-color #B2FF88
            border 1px solid #3C900E
            display none
            height 21px
            left 0
            position absolute
            width 25%
            p
              line-height 21px
              text-align center
              vertical-align middle
          .select
            color: #505050
            font-size .8em
            position absolute
            right 0
            text-align right
            width 75%
            input[type="checkbox"]
              display none
            input[type="checkbox"] + label span
              background-color #FFFFFF
              border 1px solid #979797
              cursor pointer
              display inline-block
              height 13px
              vertical-align middle
              width 13px
            input[type="checkbox"]:checked + label span
              background-color #7ED321
        .block-content
          background-position center center
          background-repeat no-repeat
          -webkit-background-size cover
          -moz-background-size cover
          -o-background-size cover
          background-size cover
          height 100%
          position relative
          width 100%
          .details
            height 20px
            position absolute
            right 0
            width 100px
            a
              background url('../images/valora-sprites.png') no-repeat -443px -8px
              color #FFFFFF
              display inline-block
              float left
              font-size 10px
              height 20px
              line-height 20px
              position relative
              text-align center
              text-decoration none
              width 80px
              z-index 1
            span
              background #252525 url('../images/valora-sprites.png') no-repeat -394px -29px
              display inline-block
              float left
              height 20px
              margin-left -10px
              width 30px
            span.active
              background #252525 url('../images/valora-sprites.png') no-repeat -392px -52px
          .description
            background-color #252525
            bottom 0
            color #FFFFFF
            height 61px
            opacity 0.7
            position absolute
            width 100%
            p:first-child
              height 33px
              line-height 12px
            p
              font-size .8em
              margin-bottom 0
              padding 2px 6px 0 6px
            .pts
              font-size 1.3em
              margin-right 20px
              position relative
              a
                display inline-block
              .star,
              .like,
              .comments-icon
                position absolute
                right 0
                top 5px
              .star
                background url('../images/valora-sprites.png') no-repeat -384px -32px
                height 16px
                right 25px
                width 16px
              .star.active
                background url('../images/valora-sprites.png') no-repeat -360px -33px
              a.star:hover
                background url('../images/valora-sprites.png') no-repeat -360px -33px
              .like
                background url('../images/valora-sprites.png') no-repeat -360px -51px
                height 14px
                margin-left 4px
                top 7px
                width 16px
              .like.active
                background url('../images/valora-sprites.png') no-repeat -384px -51px
              a.like:hover
                background url('../images/valora-sprites.png') no-repeat -384px -51px
              .count
                bottom 5px
                font-size 0.7em
                position absolute
                right -17px
                text-align left
                width 16px
              .comments-icon
                background url('../images/valora-sprites.png') no-repeat -340px -113px
                height 16px
                right 62px
                top 7px
                width 16px
              .comments-icon.active
                background url("../images/valora-sprites.png") no-repeat -368px -113px
              .comments-count
                font-size 0.7em
                position absolute
                right 48px
                top 5px
        .block-footer
          p
            font-size 13px
            margin-top 13px
        .comments-wrapper
          display none
          position absolute
          width 100%
          z-index 2
          .new-comment
            .profile-thumb
              background-position center center
              background-size cover
              border-radius 35px
              float left
              height 35px
              margin-left 10px
              width 35px
            input[type="text"]
              float left
              margin 4px 15px
              padding-left 5px
              width 70%
          .comments-list
            font-size 0.8em
            overflow hidden
            padding 2px 10px 2px 60px
            width 100%
            p
              margin-bottom 0
            .collaboratorName
              color color_pink
        .comments-wrapper.active
          display block
          background-color #FFFFFF
          border-bottom 1px solid
          height 30px
          overflow-y scroll
  .pagination-wrapper
    margin-top 105px
    max-height 28px
    .pagination-col,
    .pagination,
    nav,
    p,
    a
      height 37px
      line-height 24px
    .pagination-col
      .btn
        border 2px solid #979797
        border-radius 0
        font-size 14px
        width 115px
      .pagination
        display table
        height 28px
        margin 0;
        width 60%
        li
          display table-cell
        li:first-child,
        li:last-child
          width 100px
        p
          float left
        a
          border none
          border-radius 0
          color #4D4D4D
          display block
          font-size .9em
          padding-top 2px
          text-align center
          text-decoration none
          width 100%
          span
            display inline-block
            height 28px
            width 28px
          span.circle:hover
            background url("../images/valora-sprites.png") no-repeat -423px -34px
        a.prev
          margin 0
          padding 0
          span
            margin-left 10px
        a.next
          padding-left 0
          span
            margin-right 10px
        a:hover,
        a:focus
          background-color transparent
        li:first-child,
        li:last-child
          a
            span
              display inline
  .wish-list
    .block-wrapper
      margin-top 10px
      p
        display table-cell
        padding-left 50px
        vertical-align middle
        font-size 1.2em
        margin 10px 5px
        padding-left 10px
      .description,
      .delete,
      .block,
      .cloths
        float left
        height 200px
        overflow hidden
        width 200px
        label
          width 40px
        p
          display inline-block
          font-size 0.8em
          margin 2px 4px
          width 100%
          select
            margin-left 10px
      .block
        background-position center center
        background-repeat no-repeat
        background-size cover
      .delete,
      .balance
        display table
        height 200px
        overflow hidden
        width 300px
    .delete-btn
      background-color #FFFFFF
      border-radius 0
      color inherit
      cursor pointer
      display block
      font-size 0.7em
      text-align center
      text-decoration none
      span
        color #db1f23
        font-size 1.4em
  .more-options
    .checkout-total
      p
        font-size 1.5em
    .btn
      background-color #FFFFFF
      border 2px solid #949494
      border-radius 0
      color #5e5e5e
      font-weight bold
  .wish-list.checkout
    .delete,
    .balance
      width 100%
    .balance
      p
        padding-left 5px
  .checkout-header
    .title-wrapper
      height 40px
      margin-top 22px
      position relative
      h3
        background-color #FB8C8D
        border 1px solid #979797
        color: #FFFFFF
        height 40px
        left 10px
        line-height 40px
        margin 0
        text-align center
        vertical-align bottom
        width 310px
  .admin-content
    background-color #dbdbdb
    .preview
      max-width 200px
    .admin
      margin-bottom 80px
      overflow: auto
      scroll
      input[type="text"],
      input[type="number"],
      select,
      .btn-info,
      .datepicker
        border-radius 0
        border 1px solid #fb8c8d
      input[type="text"],
      input[type="number"],
      select
        width 200px
      .datepicker
        min-height 252px
        .well
          margin-bottom 0
      hr
        margin-bottom 5px
        margin-top 5px
      .btn-info
        background-color #d6d6d6
      .title-wrapper
        border-bottom 2px solid #d6d6d6
        height 100px
        h4
          line-height 100px
          margin 0
      .btn-admin-wrapper
        height 30px
        position relative
        .btn-admin
          background-color color_pink
          border 1px solid #4d4d4d
          border-radius 0
          color: #FFFFFF
          height 100%
          position absolute
          right: 15%
        .btn-csv
          right 25%
      .btn-options
        color inherit
        font-size 0.7em
        text-decoration none
        cursor pointer
      .btn-options:hover
        color color_pink
      .img-thumbnail
        max-height 100px
        max-width 100px
      #editBanner
        display none
      .charts-content
        position relative
        .data-wrapper
          height 550px
          left 20px
          overflow hidden
          position absolute
          overflow-y scroll
          top 55px
          width 280px
          z-index 1
        .panel
          .btn-admin-wrapper
            height 51px
            .btn-admin
              height 30px
      .total-points-report
        background-color #F5F5F4
        margin-bottom 10px
        padding-top 20px
        label
          margin-left 10px
          width 200px
      .table-titles
        border-bottom 1px solid #fb8c8d
        margin-top 40px
        .label-wrapper
          tr
            th
              height 65px
              padding 0 2px
              text-align left
              vertical-align top
            .employeeN
              width 99px
            .location
              width 270px
            .sender
              width 250px
            .senderN
              width 99px
            .badgeName
              width 170px
      .data-wrapper
        tr
          td
            padding 0 5px
          .employeeN
            width 99px
          .location
            font-size .8em
            width 100%
          .sender
            width 250px
          .badgeName
            width 170px
      .general-report
        label
          width 140px
        .btn-admin-wrapper
          .btn-admin
            margin-right -55px
            right 50%
            width 110px
      table
        .orderBy
          a
            color color_pink
            text-decoration none
      .orderBy
        a
          color color_pink
          text-decoration none
      .dynamic-content
        border-bottom 1px solid #979797
        button
          margin-top 10px
      .numeration
        color color_pink
    .admin.rewards-report
      .datepicker-wrapper
        text-align center
    .gp-badges
      .title-wrapper
        height 100%
        h4
          line-height 2
    .form-title
      margin 50px 0
    .temporal-pass
      .tips
        ul
          li
            margin-top 5px
  .recognize-badges
    border 1px solid #979797
    overflow hidden
    margin-top 0
    .brownBox
      display table
      .description
        background-color #E6DCD7
        border-bottom 1px solid #979797
        display table-cell
        height 85px
        text-align center
        vertical-align middle
        p
          font-size 1.2em
          margin 0 auto
    .categories
      display table
      height 150px
      margin-top 18px
      width 100%
      .badge-category
        display table-cell
        float: none
        opacity 0.5
      .badge-category.active
        opacity 1
      .block-wrapper
        color #4D4D4D
        cursor pointer
        display inline-block
        height 150px
        position relative
        width 100%
        .values,
        .competences
        .special
          //border 1px solid #4D4D4D
          //border-radius 94px
          height 94px
          left 50%
          margin-left -47px
          position absolute
          width 94px
        p
          bottom 23px
          position absolute
          text-align center
          width 100%
        .values
          background-image url("../images/aloha/insignia-valores.png")
          background-position center center
          background-size contain
          background-repeat no-repeat
        .competences
          background-image url("../images/aloha/insignia-competencias.png")
          background-position center
          background-size contain
          background-repeat no-repeat
        .special
          background-image url("../images/aloha/insignia-especiales.png")
          background-position center
          background-size contain
          background-repeat no-repeat
      .block-wrapper:hover
        color #FB8C8D
        font-weight bolder
    .badges-container
      overflow hidden
      position relative
      #recognize
        border 2px solid #212121
        display none
        height 158px
        left 50%
        margin-left -198px
        position: absolute
        top 25px
        width 397px
        z-index 1
        .popup-opacity
          background-color #606060
          opacity 0.9
        .popup-content,
        .popup-opacity
          height 100%
          position absolute
          width 100%
        .popup-content
          .close-popup
            color #FFFFFF
            display inline
            font-size 0.7em
            height 20px
            line-height 20px
            position absolute
            right 10px
            text-align center
            text-decoration none
            top 5px
            width 20px
            z-index 1
          .badge,
          .badge-form
            float left
            height 100%
            position relative
            width 50%
            .collaborators-wrapper
              background-color white
              height 115px
              overflow-x auto
              z-index 2
              span
                background-color #FB8C8D
                border 1px solid #FB8C8D
                color #FFFFFF
                cursor pointer
                display block
                font-size 10px
                margin 2px auto
                padding 2px
                width 100%
          .badge
            background-color transparent
            .badge-img
              background-repeat no-repeat
              background-size contain
              height 77px
              left 50%
              margin-left -28px
              position absolute
              top 10px
              width 56px
            .badge-description
              height 63px
              overflow hidden
              margin-top 88px
              p:first-child
                font-size 1.1em
                font-weight lighter
                height 28px
                white-space normal
              p:last-child
                font-size 1.7em
                font-weight bolder
          .badge-form
            input[type='text']
              background-color #c7c7c7
              border 0
              font-size 1em
              height 38px
              padding 4px 8px
              position absolute
              right 19px
              text-align left
              top 30px
              width 215px
            .btn
              background-color #212121
              border-radius 0
              bottom 27px
              color #FFFFFF
              font-size 1.4em
              height 38px
              line-height 38px
              padding-top 0
              position absolute
              right 19px
              width 125px
      .badge-wrapper
        color inherit
        cursor pointer
        display table-cell
        height 215px
        margin-left 20px
        position relative
        text-decoration none
        width 150px
        .badge-img-wrapper
          height 100px
          left 50%
          margin-left -50px
          position absolute
          top 1px
          width 100px
          .badge-img
            background-position: center center
            background-size contain
            background-repeat no-repeat
            height 100%
            width 100%
        .badge-description
          height 100%
          width 100%
          p
            margin auto 5px
            text-align center
          p:first-child
            font-size 0.9em
            height 150px
            padding 115px 5px 0 5px
            width 100%
          p:last-child
            color #b3b3b3
            font-size 11px
          .pts
            font-size 1.5em
      .values-carousel-wrapper,
      .competences-carousel-wrapper,
      .special-carousel-wrapper
        background-color #FFFFFF
        height 100%
        width 100%
      .values-carousel-wrapper
        .values-carousel
          display table
          height 100%
          overflow-x visible
          overflow-y hidden
          width 100%
      .competences-carousel-wrapper
        .competences-carousel
          display table
          height 100%
          left 0
          overflow-x visible
          overflow-y hidden
          width 100%
          .badge-wrapper
            .badge-description
              p:first-child
                height 182px
                padding-top 100px
      .special-carousel-wrapper
        .special-carousel
          display table
          height 100%
          left 0
          overflow-x visible
          overflow-y hidden
          text-align center
          width 100%
          .badge-wrapper
            display inline-block
      .competences-carousel-wrapper.ng-hide-add,
      .competences-carousel-wrapper.ng-hide-remove,
      .values-carousel-wrapper.ng-hide-add,
      .values-carousel-wrapper.ng-hide-remove,
      .special-carousel-wrapper.ng-hide-add,
      .special-carousel-wrapper.ng-hide-remove
        transition: all linear 0.3s
      .competences-carousel-wrapper.ng-hide,
      .values-carousel-wrapper.ng-hide,
      .special-carousel-wrapper.ng-hide
        line-height: 0
        opacity: 0
        padding: 0 10px
    .choose-collaborator-wrapper
      background-color #606060
      min-height 200px
      padding-bottom 25px
      p
        margin 20px 20px 0 0
      .preview-badge
        .badge,
        .badge-form
          float left
          height 100%
          position relative
          width: 100%
        .badge
          background-color transparent
          margin-top 20px
          width 100%
          .badge-img
            background-repeat no-repeat
            background-size contain
            float left
            height 77px
            width 56px
          .badge-description
            overflow hidden
            p
              margin 0
            p:first-child
              font-size 1.1em
              font-weight lighter
              white-space normal
            p:last-child
              font-size 1.7em
              font-weight bolder
              margin-top 2px
      .choose-collaborator
        background-color transparent
        overflow-x auto
        z-index 2
        span
          background-color #FB8C8D
          border 1px solid #FB8C8D
          color #FFFFFF
          cursor pointer
          display block
          font-size 10px
          margin 2px auto
          padding 2px
          width 100%
        .badge-form
          .collaborators-wrapper
            background-color #606060
            max-height 115px
            overflow-x auto
            width 76%
            z-index 2
          input[type='text']
            background-color #c7c7c7
            border 0
            font-size 1em
            height 30px
            margin-top 30px
            padding 4px 8px
            text-align left
            width 76%
          .btn
            background-color #212121
            border-radius 0
            bottom 27px
            color #FFFFFF
            font-size 1.4em
            height 38px
            line-height 38px
            padding-top 0
            width 125px
    .personal-message
      p
        margin: 20px auto
      textarea
        max-height 150px
        max-width 100%
        width 100%
      .btn-acknowledgment
        background-color #f59ba0
        color: #000000
        margin 10px auto
        text-align center
        width 100%
      .error
        color red
  .account-status
    .previous-balance,
    .account-list,
    .label-header,
    .total-points
      height 60px
      div
        p
          text-align right
        div:first-child
          p
            text-align left
    .total-points
      .total
        margin-right 10px
    .label-header
      background-color #4d4d4d
      height 30px
      p
        color #FFFFFF
        margin 0 auto
        padding 5px
      .points-label
        padding-right 15px
    .previous-balance
      margin-top 10px
      .total
        margin-right 10px
    .account-list
      border-bottom 1px solid #f1f1f1
    .earned-points,
    .expended-points
      margin-right 10px
    .earned-points
      color: #5e5e5e
    .expended-points
      color #f59ba0
  .feed
    .notification-message
      color: #a547ff
      font-size 1.3em
    .btn-filter-wrapper
      margin 10px auto
      text-align center
      .btn-filter
        background-color #FFFFFF
        border 1px solid #979797
        cursor pointer
        font-size .8em
        margin 0 2px
        padding 1px 6px
        text-transform uppercase
      .btn-filter.active
        background-color #e6dcd7
      .description
        font-size .8em
        margin-top 0
        margin-left 10px
        text-align left
    .btn-filter-wrapper > div
        border-bottom 1px solid #979797
        padding-bottom 12px
    .feed-wrapper
      .createdAt
        font-size 10px
        margin 0 auto
        text-align right
      .feed-content
        border-bottom 1px solid #e5e5e5
        height 100%
        display table
        position: relative
        width 100%
        .img-wrapper,
        .feed-text
          float left
          height 100%
        .feed-text
          padding 8px
          width 90%
          a
            text-decoration none
            color inherit
          .upgradeBadge
            text-transform capitalize
          .collaboratorName
            text-transform capitalize
          .personal-message
            color color_pink
        .img-wrapper
          height 94px
          position relative
          width 60px
          .img,
          .img-logo
            margin-top 10px
          .img
            background-position center center
            background-repeat no-repeat
            background-size contain
            height 60px
            width 60px
          .img.seniority
            height 20px
            margin 20px
            width 30px
          .img.oneYear
            height: 38px
            margin-left: 10px
            width: 43px
          .img-logo
            background-image url('../images/valora-sprites.png')
            background-position -227px -12px
            background-repeat no-repeat
            height 38px
            left 50%
            margin-left -21px
            position absolute
            width 43px
        .feed-text
          p
            font-size 1.3em
            font-weight 100

          p:first-child
            margin 10px auto 2px auto
          p.upgrade
            margin-top 18px
          .reward-img
            background-position center center
            background-repeat no-repeat
            background-size cover
            height 200px
            width 200px
        .like
          height 100%
          position absolute
          right 28px
          width 16px
          .heart
            background url("../images/valora-sprites.png")
            background-position -339px -50px
            background-repeat no-repeat
            bottom 5px
            cursor pointer
            display block
            height 14px
            position absolute
            width 100%
          .heart:hover
            background-position -384px -51px
          .heart.active
            background-position -384px -51px
          .count
            bottom 2px
            cursor pointer
            left 18px
            position absolute
            width 100%
        .comment
          cursor pointer
          font-weight 700
          height 16px
          line-height 1px
          position absolute
          right 50px
          bottom 2px
          span
            display inline-block
            height 16px
            float left
            margin-right 4px
            width 16px
          .comment-icon
            background url("../images/valora-sprites.png") no-repeat -340px -113px
          .comment-icon.active
            background url("../images/valora-sprites.png") no-repeat -368px -113px
          .count
            font-size 1em
            line-height 16px
          .text
            display: inline-table
            font-size: 12px
            margin-top: 7px
      .comments-wrapper
        border-bottom 1px solid #4d4d4d
        display none
        overflow hidden
        .new-comment
          .profile-thumb
            background-position center center
            background-size cover
            border-radius 35px
            float left
            height 35px
            margin-left 10px
            width 35px
          input[type="text"]
            float left
            margin 4px 15px
            padding-left 5px
            width 75%
          .push-comment
            background-color color_pink
            color: white
            line-height 2
            padding: 4px
        .comments-list
          font-size 0.8em
          overflow hidden
          padding 2px 60px
          width 100%
          p
            margin-bottom 0
          .collaboratorName
            color color_pink
      .comments-wrapper.active
        display block
        padding-bottom 10px
    #likeModal
      .modal-dialog
        width 460px
        .modal-header
          .modal-title
            .heart
              background url("../images/valora-sprites.png")
              background-position -384px -51px
              background-repeat no-repeat
              display inline-block
              height 14px
              width 16px
        .modal-body
          ul
            list-style none
    .collaboratorsModal
      background-color #e6dcd7
      height auto
      position absolute
      right 0
      top 10%
      width 300px
      z-index 1
      .close-popup-wrapper
        margin-bottom 0
        text-align right
        .close-popup
          cursor: pointer
          font-size .8em
          margin auto 10px
        .close-popup:hover
          font-size .9em
      ul
        font-size 0.9em
        list-style-type none
        margin 2px 0 10px 0
        padding 4px 20px
        li
          cursor pointer
        li:hover
          background-color #fb8c8d
  #rewardDetails
    .modal-dialog
      width 855px
    .modal-content
      background-color #252525
      position relative
      .close
        background-color #FB8C8D
        border 1px solid
        border-radius 50px
        height 50px
        opacity 1
        padding 4px
        position absolute
        right -30px
        top -20px
        width 50px
        z-index 10
        span
          border-radius: 40px
          width: 40px
          color: #FB8C8D
          height: 40px
          background-color: #FFFFFF
          display: block
          font-size: 1.5em
          line-height: 36px
    .modal-body
      background-position center center
      background-size contain
      background-repeat no-repeat
      height 600px
    .modal-footer
      background-color #252525
      border-top none
      bottom 0
      color #FFFFFF
      position fixed
      width 100%
  .checkout-modal
    .modal-dialog
      .modal-content
        background-color #FB8C8D
        color #FFFFFF
        font-size 1.1em
        text-align center
      .modal-header
        border-bottom none
        color #FFFFFF
        font-weight bolder
        position relative
        text-align center
        h4
          font-size 1.7em
        .close
          background-color #FB8C8D
          border 1px solid
          border-radius 50px
          height 50px
          opacity 1
          padding 4px
          position absolute
          right -30px
          top -20px
          width 50px
          span
            border-radius: 40px
            width: 40px
            color: #FB8C8D
            height: 40px
            background-color: #FFFFFF
            display: block
            font-size: 1.5em
            line-height: 36px
      .modal-footer
        border-top none
        .btn
          background-color #FB8C8D
          border 4px solid #FFFFFF
          border-radius 0
          color #FFFFFF
          margin-right 120px
  #ticket
    .modal-footer
      height 70px
      position relative
      .btn
        left 50%
        margin-left -62px
        position absolute
        width 125px
  .profile-image
    margin-top 50px
    .form-wrapper
      p:last-child
        text-align right
      .btn
        background-color #FFFFFF
        border 2px solid
        border-radius 0
  .myBadges
    .section-title
      p
        font-weight 100
        text-align left
    .description
      color #969696
      font-size 1.1em
      font-weight 400
      margin 0 auto 30px auto
    .values-tab,
    .others-tab,
    .ambassadors-tab,
    .gp-tab
      border 2px solid #969696
      border-bottom none
      width 200px
      p
        color: #FB8C8D
        font-weight 100
        margin 0
        padding 1px 4px
        text-align center
    .myValuesBadges,
    .otherBadges,
    .ambassadorsBadges,
    .gpBadges
      border 2px solid #969595
      height 635px
      overflow-y scroll
      overflow-x hidden
      margin-bottom 10px
      width 100%
      .insignia-wrapper
        margin-top 20px
        .count
          font-size 1.3em
          min-height 25px
    .myValuesBadges
      .myValuesBadges-wrapper
        display table
        width 100%
       .col-lg-4,
       .col-md-4,
       .col-sm-4
         float none
         display table-cell
      .myEmbassy
        .insignia-wrapper
          h2
            font-weight 100
            text-transform uppercase
            text-align center
          .badgeName
            color #FB8C8D
            font-size 1.3em
            font-weight 100
            height 50px
            text-transform uppercase
          .images-wrapper
            height 140px
            position relative
            .img-wrapper
              height 140px
              left 50%
              margin-left -56px
              position absolute
              width 113px
      .valBadges-wrapper
        .insignia-wrapper
          height 184px
          .img-wrapper
            height 90px
        .blur
          opacity 0.5
    .other-wrapper
      .description
        height 90px
      .others-tab,
      .gp-tab
        background-color #e7dbd5
        width 165px
        p
          color #4D4D4D
      .gp-tab
        width 190px
      .otherBadges,
      .gpBadges
        height 170px
        .insignia-wrapper
          .img-wrapper
            height 80px
    .ambassadors-tab
      background-color #FFFFFF
      width 240px
      p
        color #4d4d4d
    .ambassadorsBadges
      background-color #f7f7f7
      height 489px
      .insignia-wrapper
        .count
          font-size 2em
          margin-bottom 0
        .collaboratorName
          font-size 1.2em
          font-weight 100
          height 40px
          padding 0 11%
        .images-wrapper
          height 76px
          position relative
          .profile-img
            background-color #d7d7d7
            background-position center center
            background-repeat no-repeat
            background-size cover
            border-radius 76px
            height 76px
            left 50%
            margin-left -38px
            position absolute
            width 76px
          .img-wrapper
            left 15%
            position absolute
            top 30%
        .badgeName
          font-weight 100
          margin-top 15px
          text-transform uppercase
  .preferences
    .preferences-body
      .form-wrapper
        .notification
          width 300px
        .notification-points
          margin-top 50px
        input[type="checkbox"]
          display none
        input[type="checkbox"] + label span
          background: url('../images/valora-sprites.png') -339px -85px no-repeat
          cursor pointer
          display inline-block
          height 19px
          margin -2px 10px 0 0
          vertical-align middle
          width 19px
        input[type="checkbox"]:checked + label span
          background url('../images/valora-sprites.png') -364px -86px no-repeat
        input[type="button"]
          background-color #FFFFFF
          border 1px solid #979797
          font-size 14px
          height 30px
          margin-top 20px
          padding 1px 4px
          width 130px
        input[type="button"]:hover
          background-color #e6e6e6
  .feed-comments,
  .reward-comments
    .comments-list
      .collaboratorName
        color color_pink
        font-size 0.7em
      .btn-admin
        background-color color_pink
        border 1px solid #4d4d4d
        border-radius 0
        color #FFFFFF
        margin-left 15px

#videoModal
  top 10%
footer
  background-color #686868
  height 175px
  margin-top 50px
  padding-top 10px
  .container,
  .row,
  ul
    height 100%
  ul
    height 80px
    list-style-type: none
    margin: 0
    padding: 40px 0 0 0
    text-align center
    li
      display inline-block
      margin-right 6%
      a
        color #FFFFFF
      a:hover
        color #FB8C8D
        text-decoration none
      a:focus
        color #FB8C8D
  .gp-wrapper
    height 44px
    margin-top 18px
    position relative
    .gp-logo
      background-position -329px -290px
      background-repeat no-repeat
      height 44px
      left 50%
      margin auto -200px
      position absolute
      width 400px

#profileImageModal
  .modal-dialog
    .modal-content
      .close
        background-color #FB8C8D
        border 1px solid
        border-radius 50px
        height 50px
        opacity 1
        padding 4px
        position absolute
        right -30px
        top -20px
        width 50px
        z-index 10
        span
          border-radius: 40px
          width: 40px
          color: #FB8C8D
          height: 40px
          background-color: #FFFFFF
          display: block
          font-size: 1.5em
          line-height: 36px
      .modal-header
        background-color #696969
        color #FFFFFF
      .modal-footer
        background-color #696969
        .btn
          background-color: #fff
          border 2px solid #979797
          border-radius 0
          font-size 14px
          width 115px
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
small = 'screen and (min-width:320px) and (max-width: 767px)'
medium = 'screen and (min-width: 768px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'
/* Small devices (tablets, 768px and up)
@media medium

/* Medium devices (desktops, 992px and up)
@media large
Large devices (large desktops, 1200px and up) */
@media xlarge
  .login
    .login-form
      .form-group
        .error
          right -25%
          top 36%

@media large
 .dynamic-content
    .feed
      .btn-filter-wrapper
        .btn-filter
          display inline-block
          margin 5px 3px
      .feed-wrapper
        .createdAt
          margin-top 15px
        .feed-content
          .comment
            bottom  12px
            right 20px
          .like
            right 10px
            height initial
            bottom 8px
 @media medium
   .dynamic-content
     .feed
       .feed-wrapper
          .feed-content
            .feed-text
              width 85%
@media small
  //admin header
  .navbar-default navbar-collapse  .admin-menu .admin-link
    height: inherit
    margin 0 auto
  .navbar-default
    .navbar-collapse
      .admin-menu
        height inherit
        margin-left 0
        display inline-block
  .admin-nav
    .navbar-collapse
      .navbar
        height auto
        display flex
        overflow-x auto
        white-space nowrap

    .container-fluid
      .collapse
        display block
        background #fb8c8d

  .navbar-default
    .navbar-collapse
      background #696969
      position relative
      z-index 2
      .navbar-nav
        a
          border-bottom 1px solid transparent
  .login
    .login-form
      text-align center
      margin-top 0px
      form
        height auto
      .form-control
        margin-left 0px
      .form-group
        label
          text-align center
        span
          text-align center
          position relative
          display block
          top inherit
          right initial
      .btn-wrapper
        text-align center
  .dynamic-content
    .feed
      .btn-filter-wrapper
        .btn-filter
          display inline-block
          margin 5px 3px
      .feed-wrapper
        .createdAt
          margin-top 15px
        .feed-content
          .comment
            bottom  10px
            right 20px
          .like
            right 10px
            height initial
            bottom 8px
@media small
  .dynamic-content
    .recognize-badges
      .badges-container
        //MODAL
        #recognize
          left 5%
          right 5%
          width auto
          box-sizing content-box
         margin-left 0
        .badge-wrapper
          height auto
          margin 0 auto
          width auto
          display block
          .badge-img-wrapper
            margin-left 0
            left inherit
            position relative
            margin 0 auto
          .badge-description
            padding 0
            height auto
            display block
            width auto
            margin 0 auto
            p:first-child
              padding-top 0!important
              height auto!important
              display block
        .competences-carousel-wrapper
          .competences-carousel
            display block
            height auto
            left initial
            overflow hidden
            width auto
        .special-carousel-wrapper
          .special-carousel
            .badge-wrapper
              display block
    .pagination-wrapper
      margin-top 50px
      max-height inherit
      .pagination-col
        padding 0
        height auto
        .btn
          display block
          margin 10px auto
        .pagination
          display flex
          width auto
          height auto
          overflow hidden
          justify-content center
          a
            span
              width auto
            span.circle:hover
              background transparent
              text-decoration underline
          > li
            > a
              padding 0px 5px
@media small
  footer
    .gp-wrapper
      .gp-logo
        position relative
        width 80%
        left 0
        margin 0 auto
  .dynamic-content
  .feed
    .feed-wrapper
      .feed-content
        .feed-text
          margin-bottom 20px
    .recognize-badges
      .categories
        margin 10px 0
        .block-wrapper
          p
            font-size 11px
            top 98px
            line-height 1
            bottom inherit
      .choose-collaborator-wrapper
        height inherit
        .choose-collaborator
          height 325px
          margin 0 auto
          .badge-form
            min-height 200px
            input[type="text"]
              width 100%
            .collaborators-wrapper
              width 100%
  .dynamic-content
    .title-wrapper
      height inherit
    .rewards-header
      .my-list
        position relative
        height inherit
        top inherit
        right inherit
        margin  5px 0 0 0
    .title-wrapper
    height inherit
    .my-activity
      .activity-list
        height inherit
        padding-bottom 10px


