<div class="container admin gp-badges">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 title-wrapper">
            <h4>Administración de Insignias</h4>
            <h4><span class="pink-font">></span> <strong>ESPECIALES</strong></h4>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 form-title">
            <h4>Crear nueva insignia <strong>especial</strong></h4>
        </div>
        <form name="specialForm" class="col-sm-12 col-lg-12 col-md-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label for="name">Nombre</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <input type="text" id="name" ng-model="name" name="name">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label for="role">Quién otorga</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <select ng-model="role" id="role">
                                    <option value="admin">Admin</option>
                                    <option value="lider">Líder</option>
                                    <option value="colaborador">Colaborador</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label for="points">Puntos</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <input type="number" ng-model="points" id="points">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label for="image">Imagen de insignia</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <img class="img-thumbnail" ng-src="{{imageSrc}}"/>
                                <input type="file" id="image" ng-file-select="onFileSelect($files)">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label>Fecha de expiración</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="datepicker" style="display:inline-block; min-height:290px;">
                                    <pre><em>{{expiresAt | date:'fullDate' }}</em></pre>
                                    <div uib-datepicker ng-model="expiresAt" class="well well-sm" datepicker-options="options"></div>
                                </div>
                                <hr>
                                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Fecha de hoy</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 btn-admin-wrapper">
                    <button type="button" class="btn btn-admin" ng-click="addSpecialBadge()" ng-disabled="specialForm.$invalid">Crear insignia</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Listado de insignias especiales</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p><strong>Nombre</strong></p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <p><strong>Expira el</strong></p>
        </div>
        <div class="col-md-1">
            <p><strong>Puntos</strong></p>
        </div>
        <div class="col-md-2">
            <p><strong>Visible para</strong></p>
        </div>
        <div class="col-md-2">
            <p><strong>Thumbnail</strong></p>
        </div>
        <div class="col-md-2">
            <p><strong>Opciones</strong></p>
        </div>
    </div>
    <div class="row" ng-repeat="badge in badges">
        <div class="col-md-3">
            <p><strong class="numeration">{{$index + 1}}.</strong> {{badge.name}}</p>
        </div>
        <div class="col-md-2">
            <p>{{badge.expiresAt}}</p>
        </div>
        <div class="col-md-1">
            <p>{{badge.points}}</p>
        </div>
        <div class="col-md-2">
            <p>{{badge.rolAuth == 'lider' ? 'líder' : badge.rolAuth}}</p>
        </div>
        <div class="col-md-2">
            <img class="img-thumbnail img-responsive" src="{{badge.image}}" alt="{{badge.name}}">
        </div>
        <div class="col-md-2">
            <p>
                <a class="btn-options" ui-sref="admin.editSpecialBadges({id: badge._id})">Editar</a> |
                <a class="btn-options" ng-click="deleteBadge(badge._id)">Eliminar</a>
            </p>
        </div>
    </div>
</div>