<section class="account-status my-activity">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 title-wrapper">
            <h3>Política Valora</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 description-wrapper">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>I. Objetivo</h3>
            <p>Establecer los lineamientos con los cuales se reconocerá y premiará a los colaboradores de Grupo
                Presidente a través de la plataforma "Valora" por haber demostrado un excelente apego y cumplimiento a
                los valores y competencias de la empresa así como un óptimo desempeño en su actuar diario.</p>
            <h3>II. Alcance</h3>
            <p>Esta política es aplicable a todo el personal de Grupo Presidente.</p>
            <h3>III. Responsables</h3>
            <p>Recursos Humanos Corporativo es el responsable de administrar la plataforma de reconocimiento "Valora".
                Recursos Humanos de cada propiedad es responsable de administrar la actualización de status de envío de
                recompensas a través de la plataforma "Valora".</p>
            <h3>IV. Finalidad</h3>
            <p>El programa de reconocimientos “Valora” tiene como finalidad:</p>
            <ul>
                <li>Fomentar el reconocimiento entre colaboradores del Grupo.</li>
                <li>Fomentar en los colaboradores la práctica de competencias y valores del Grupo.</li>
                <li>Impulsar el logro de objetivos organizacionales y de desempeño.</li>
                <li>Que el reconocimiento por metas alcanzadas y apego a la cultura organizacional del Grupo sea
                    premiada a través de “recompensas” disponibles en un catálogo dentro de la plataforma "Valora"</li>
            </ul>
            <h3>V. Políticas generales</h3>
            <p>Podrán participar en el programa de reconocimiento todos los colaboradores de Grupo Presidente que
                cuenten con un año de antigüedad y un contrato de planta.</p>
            <p>El programa de reconocimientos “Valora” funciona a través de una plataforma que se encuentra en el
                siguiente enlace: https://valora-gp.com/ y por medio de la cual todos los colaboradores deberán ingresar.
            </p>
            <p>Cada colaborador participante tendrá un perfil dentro de la plataforma “Valora”, con la facultad de
                otorgar reconocimientos a sus compañeros o bien de recibirlos por parte de ellos o de Grupo Presidente.
            </p>
            <p>Los reconocimientos son otorgados a través de "insignias", las cuales representan valores, competencias y
                temas específicos a reconocer en el Grupo.</p>
            <p>Cada colaborador cuenta con un presupuesto de 600 puntos mensuales, con la finalidad de utilizarlos para
                reconocer a sus compañeros a través de las insignias disponibles en la plataforma; cada insignia tiene un
                valor en puntos, el cual es descontado del presupuesto mensual al momento de reconocer a un compañero.
            </p>
            <p>No será posible otorgar más de 1 insignia de reconocimiento al mismo colaborador durante el mismo mes.</p>
            <p>Cada mes el presupuesto otorgado a cada colaborador con el fin de reconocer a colaboradores será
                descontado y se volverá a otorgar 600 puntos, por lo que éste no es acumulable.</p>
            <p>Todos los colaboradores podrán ser reconocidos por sus compañeros o por el mismo Grupo.</p>
            <p>Al recibir un reconocimiento o “insignia”, el colaborador sumará a su balance de puntos el número de
                puntos que represente la insignia recibida.</p>
            <p>Las insignias disponibles dentro de la plataforma “Valora” y su valor son las siguientes:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Insignias</th>
                    <th>Puntos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Valores</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Competencias</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Especiales</td>
                    <td>Variable</td>
                </tr>
                </tbody>
            </table>
            <p>El colaborador que obtenga más número de insignias de algún valor o competencia, se convertirá en
                embajador de la misma.</p>
            <p>Cada colaborador podrá recibir reconocimientos y obtener puntos por su trayectoria dentro del Grupo de la
                siguiente manera:</p>
            <p>1. Upgrade (Estrellas presidente):</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Medalla</th>
                    <th>Puntos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Bronce</td>
                    <td>30 a 100</td>
                </tr>
                <tr>
                    <td>Plata</td>
                    <td>101 a 150</td>
                </tr>
                <tr>
                    <td>Oro</td>
                    <td>151 a 200</td>
                </tr>
                <tr>
                    <td>Diamante</td>
                    <td>200</td>
                </tr>
                </tbody>
            </table>
            <p>2. Evaluación de Desempeño:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Calificación</th>
                    <th>Puntos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3 a 3.99</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>4 a 4.99</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>500</td>
                </tr>
                </tbody>
            </table>
            <p>3. Antigüedad:Se otorgarán puntos por cada año de antigüedad cumplido de acuerdo a la siguiente tabla:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Años</th>
                    <th>Puntos Antigüedad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1 a 4</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>6 a 9</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>11 a 14</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>16 a 19</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>21 a 24</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>26 a 29</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>7500</td>
                </tr>
                <tr>
                    <td>31 a 34</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>36 a 39</td>
                    <td>10000</td>
                </tr>
                <tr>
                    <td>40 en adelante</td>
                    <td>15000</td>
                </tr>
                </tbody>
            </table>
            <p>El total de puntos obtenidos por cada colaborador siguiendo los criterios mencionados con anterioridad,
                serán reflejados en su estado de cuenta.</p>
            <p>A partir del primer aniversario de la plataforma Valora, los puntos obtenidos por cada colaborador,
                tendrán una vigencia o caducidad, realizándose un descuento de los mismos según la siguiente tabla y
                fechas:</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>% Descuento</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>15 de febrero</td>
                    <td>25% del total de puntos acumulados</td>
                </tr>
                <tr>
                    <td>15 de agosto</td>
                    <td>25% del total de puntos acumulados</td>
                </tr>
                </tbody>
            </table>
            <p>Todos los colaboradores podrán hacer uso de sus puntos acumulados por los reconocimientos obtenidos para
                canjearlos por recompensas, los cuales se encuentran dentro de un catálogo disponible en la plataforma
                "Valora"</p>
            <p>Cada recompensa representa un valor en puntos, los cuales serán descontados del estado de cuenta de cada
                colaborador al momento de canjearlos.</p>
            <p>Al momento de canjear los puntos por una recompensa, cada colaborador deberá imprimir y entregar a
                Recursos Humanos de su correspondiente propiedad el cupón generado por la plataforma.</p>
            <p>Recursos Humanos de cada propiedad, notificarán a Recursos Humanos Corporativo los vales entregados por
                cada colaborador con la finalidad de hacer envío de la recompensa canjeada.</p>
            <p>Las recompensas llegarán a cada propiedad en un tiempo de 45 días hábiles, una vez notificado Corporativo.
            </p>
            <p>Es responsabilidad de Recursos Humanos de cada propiedad administrar el status de envío de recompensas de
                cada colaborador actualizándolo dentro de la plataforma en el aparatado “Seguimiento de Canje” de acuerdo
                a las siguientes opciones de status de cada recompensa:
            </p>
            <ul>
                <li>"En espera": Desde el momento en que Corporativo ha sido notificado y se le ha entregado el cupón de
                    canje, esperando los 45 días hábiles para recibir la recompensa en su propiedad.</li>
                <li>"Recibido": En el momento en que la recompensa ha llegado a la propiedad.</li>
                <li>"Entregado": Una vez que al colaborador se le haya hecho entrega de la recompensa canjeada.</li>
            </ul>
            <p>Las recompensas en el catálogo de la plataforma “Valora” tendrán una vigencia de disponibilidad la cual
                será determinada por Recursos Humanos Corporativo.</p>
            <p>Recursos Humanos Corporativo será responsable de monitorear el funcionamiento y estadísticas generadas
                por el reconocimiento de colaboradores del Grupo, teniendo la facultad de realizar modificaciones en los
                esquemas de puntos, insignias y recompensas de la plataforma.</p>
            <p>Todo mal uso de la plataforma "Valora" por parte de los colaboradores que sea detectado será sancionado,
                pudiendo ser expulsados de la misma.</p>
        </div>
    </div>
</section>