.account-status
  .title-wrapper
    h3
      width 212px
  .previous-balance,
  .account-list,
  .label-header,
  .total-points
    height 60px
    div
      p
        text-align right
      div:first-child
        p
          text-align left
  .total-points
    .total
      margin-right 10px
  .previous-balance
    margin-top 10px
    .total
      margin-right 10px
  .account-list
    border-bottom 1px solid #f1f1f1
  .earned-points,
  .expended-points
    margin-right 10px
  .earned-points
    color: #5e5e5e
  .expended-points
    color aloha_blue
  .label-header
    height 100px
    div
      p
        text-align right
      div:first-child
        p
          text-align left
  .label-header
    background url("../images/aloha/pleca-degradado.png")
    height 30px
    p
      color #FFFFFF
      font-weight 100
      margin 0 auto
      padding 5px 8px
    .date-title
      text-align center