@import "variables.styl";
.navbar-default
  background-color #ffffff
  border-radius 0
  height 80px
  .navbar-header
    .navbar-brand
      background-color #FFFFFF
      height 100%
      padding 0
      .logo
        background-position center
        background-repeat no-repeat
        background-size contain
        height 80px
        width 200px
  .navbar-collapse
    h3
      color #FFFFFF
      height 100%
      left 50%
      line-height 55px
      margin 0
      padding 0
      position: absolute
    .admin-menu
      height 60px
      margin-left 50px
      .admin-link
        height 100%
        a
          background-color #ffffff
          border 1px solid #FFFFFF
          color primary_green
          height 30px
          margin-top 41px
          padding 4px 15px
    .navbar-nav
      li
        a
          color aloha_blue
          font-size 13px
          padding 45px 8px
        a:hover
          border-bottom solid 1px primary_green
      .dropdown
        height 100%
        .dropdown-menu
          padding 0
          li
            height 100%
            padding 0
            width 100%
      .open
        a
          background-color #ffffff
          color primary_green
          height 100%
        a:hover
          color aloha_blue
    .navbar-right
      .policy
        color: yellow
      .logout
        color primary_green
@import "carousel.styl"
@import "left-column.styl"