.left-column
  border-right 4px solid #E5E5E5
  padding-left 0
  .profile-block
    // border-bottom 1px solid #E5E5E5
    height 120px
    margin 20px 10px;
    .profile-img-block
      float left
      margin-right 14px
      position relative
      .img-circle
        background-position center center
        background-repeat no-repeat
        background-size cover
        height 60px
        width 60px
      .add-profile-img
        background url("../images/valora-sprites.png") no-repeat -156px -35px
        bottom: -4px
        height: 16px
        position absolute
        right 6px
        width 16px
    .info
      float: left
      max-width 190px
      p
        margin auto auto 2px auto
      .name
        font-size 1.2em
        text-transform capitalize
      .location
        font-size .8em
      .points
        font-size 1.3em
        color aloha_blue
  .left-menu
    padding-left 0
    li
      //background url("../images/dot-list.png") no-repeat left top;
      border-bottom 4px solid #E5E5E5
      list-style: none
      margin 0
      padding 7px 0 10px 27px
      position relative
      width 106%
      .arrow-right
        border-top 7px solid transparent
        border-bottom 7px solid transparent
        border-left 7px solid secondary_yellow
        display none
        height 0
        width 0
      a
        color #4D4D4D
        vertical-align middle
        text-decoration none
      a:hover
        color #0000000
        font-weight bold
      span.badge-warning
        background-color aloha_mint
    li:hover
      .arrow-right
        display inline-block
    li:first-child
      border-top 4px solid #E5E5E5
  .valores,
  .competencias
    .embajador-wrapper
      p
        text-align center
      .img-wrapper
        height 140px
        position relative
        width 100%
        img
          left 50%
          margin-left -50px
          position absolute
          width 100px
      .embajador
        font-size 1em
        color aloha_blue
      .name
        color primary_green
        font-size 1.1em
        letter-spacing .4em
        text-transform uppercase
      .count
        color #000000
        font-size .8em
    .ver-mas
      height 30px
      position relative
      text-align center
      vertical-align middle
      width 100%
      a
        border 1px solid #000000
        color #000000
        display inline-block
        left 50%
        line-height 30px
        margin-left -55px
        position absolute
        text-decoration none
        width 115px
  .valores
    border-bottom 1px solid #E5E5E5
    .valores-title
      background-color #E5E5E5
      color aloha_blue
      font-size 1.1em
      font-weight bolder
      height 37px
      line-height 37px
      text-align center
      vertical-align middle
      width 106%
    .ver-mas
      a
        font-weight bold
        left initial
        right 3%
  .competencias
    .competencias-title
      background-color #4D4D4D
      color #FFFFFF
      font-size 1.1em
      height 37px
      line-height 37px
      text-align center
      vertical-align middle
  .mentions
    height 400px
    overflow: hidden
    .title
      background-color #000000
      color aloha_blue
      font-size 1em
      height 37px
      line-height 37px
      text-align center
    .mention-wrapper
      height 100%
      margin-left 10px
      overflow hidden
      .mention
        border-bottom 1px solid #e5e5e5
        margin-bottom 2px
        padding 4px
      .date
        font-size 10px
        margin 1px auto
        text-align right

@media small
  .left-column
    .valores
      display none