.myBadges
  .rewards-header
    .title-wrapper
      h3
        width 235px
  .section-title
    p
      font-weight 100
      text-align left
  .description
    color #969696
    font-size 1.1em
    font-weight 400
    margin 0 auto 30px auto
  .values-tab,
  .others-tab,
  .ambassadors-tab,
  .gp-tab
    border-bottom none
    width 260px
    p
      color: #000000
      font-weight 100
      margin 0
      padding 1px 4px
  .myValuesBadges,
  .otherBadges,
  .ambassadorsBadges,
  .gpBadges
    border 2px solid #969595
    height 635px
    overflow-y scroll
    overflow-x hidden
    margin-bottom 10px
    width 100%
    .insignia-wrapper
      margin-top 20px
      .count
        color aloha_blue
        font-size 1.3em
        min-height 25px
  .myValuesBadges
    .myValuesBadges-wrapper
      display table
      width 100%
    .col-lg-4,
    .col-md-4,
    .col-sm-4
      float none
      display table-cell
    .myEmbassy
      .insignia-wrapper
        h2
          font-weight 100
          text-transform uppercase
          text-align center
        .badgeName
          color aloha_blue
          font-size 1.3em
          font-weight 100
          height 50px
          text-transform uppercase
        .images-wrapper
          height 140px
          position relative
          .img-wrapper
            height 140px
            left 50%
            margin-left -56px
            position absolute
            width 113px
    .valBadges-wrapper
      .insignia-wrapper
        height 184px
        .img-wrapper
          height 90px
      .blur
        opacity 0.5
  .other-wrapper
    .description
      height 90px
    .others-tab,
    .gp-tab
      width 165px
      p
        color #4D4D4D
    .gp-tab
      width 190px
    .otherBadges,
    .gpBadges
      height 170px
      .insignia-wrapper
        .img-wrapper
          height 80px
  .ambassadors-tab
    background-color #FFFFFF
    width 240px
    p
      color #4d4d4d
  .ambassadorsBadges
    background-color #f7f7f7
    height 489px
    .insignia-wrapper
      .count
        font-size 2em
        margin-bottom 0
      .collaboratorName
        font-size 1.2em
        font-weight 100
        height 40px
        padding 0 11%
      .images-wrapper
        height 76px
        position relative
        .profile-img
          background-color #d7d7d7
          background-position center center
          background-repeat no-repeat
          background-size cover
          border-radius 76px
          height 76px
          left 50%
          margin-left -38px
          position absolute
          width 76px
        .img-wrapper
          left 15%
          position absolute
          top 30%
      .badgeName
        font-weight 100
        margin-top 15px
        text-transform uppercase