.training
  .title
    color aloha_melon
    text-transform uppercase
  .sub-menu
    background-color #E6E6E6
    display: flex
    justify-content: space-around
    list-style none
    padding 0
    text-align center
    li
      border-right 1px solid white
      width 100%
      a
        color black
        text-decoration none
  .training-wrapper
    margin-top 25px
    width 100%
    .outstanding-wrapper
      .course-title
        text-transform uppercase
      .outstanding
        display flex
        justify-content: space-around
        position relative
        .outstanding-course
          overflow hidden
          width 70%
          img
            width 100%
        .outstanding-info
          text-align left
          width 28%
          h4
            font-weight bold
          .categories
            border-bottom 1px solid aloha_melon
    .course-list-wrapper
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content space-between
      margin-top 30px
      .course-block
        width 33.333%
    .course-detail-wrapper
      .course-wrapper
        display flex
        justify-content space-around
        .video-wrapper
          overflow hidden
          width 70%
        .course-chapters
          background-color #F2F2F2
          height 280px
          list-style none
          padding 0
          text-align left
          width 28%
          li
            background-color #F2F2F2
            border-bottom 1px solid #AFB1B3
            font-weight bold
            padding 4px
            a
              color black
              text-decoration none
          li:hover
            background-color #E5802D
          li:last-child
            border-bottom none
      .details-wrapper
        display flex
        justify-content space-around
        .course-details
          overflow hidden
          width 70%
          .title-options
            display flex
            justify-content space-between
            height 30px
            .title-wrapper
              margin 0 auto
              text-align left
              width 70%
              h4
                font-weight bold
                margin 0 auto
            .options-wrapper
              width 30%
          .categories
            width 100%
            p
              border-bottom 1px solid aloha_melon
              width 24%
          .description
            p:first-child
              font-weight bold
          .duration,
          .points
            color #AFB1B3
            font-size 0.8em
          .comments
            p:first-child
              font-weight bold
            textarea
              background-color #E6E6E6
              border none
              height 150px
              width 100%

        .other-courses-wrapper
          text-align center
          width 28%
    .career-temp-img,
    .evaluations-temp-img,
    .material-temp-img,
    .history-temp-img
      overflow hidden
      img
        width 100%
  .course-block
    height 100%
    padding 0 6px
    .venta-exitosa,
    .proteccion-civil,
    .procesos-sap,
    .politicas,
    .enpowerment,
    .malware,
    .finanzas,
    .confidencial,
    .atencion-a-clientes
      img
        width 100%
  .options
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    list-style none
    margin-top 4px
    padding 0
    li
      font-size 0.9em
      span
        display inline-block
        height 16px
        float left
        margin-right 4px
        margin-top 2px
        width 16px
      .comment-icon
        background-image url("../images/aloha/ico_comentario.png")
        background-position center
        background-size contain
        background-repeat no-repeat
      .comment-icon.active
        background-image url("../images/aloha/ico_comentario_over.png")
      .heart
        background-image url("../images/aloha/ico_like.png")
        background-position center
        background-repeat no-repeat
        background-size contain
        bottom 5px
        cursor pointer
        display block
        height 14px
        width 14px
      .heart:hover
        background-image url("../images/aloha/ico_like_over.png")
      .heart.active
        background-image url("../images/aloha/ico_like_over.png")
      .share
        background-image url("../images/aloha/ico-share.svg")
        background-position center
        background-repeat no-repeat
        background-size cover
        cursor pointer
        display block
        height 14px
        width 13px
      .share:hover
        background-image url("../images/aloha/ico-share-over.svg")
      .share:active
        background-image url("../images/aloha/ico-share-over.svg")
    li:first-child
      margin auto 20px auto 0