aloha_blue = #00A2D7
primary_green= #85C380
secondary_yellow= #EFC319
aloha_melon = #EE862D
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
small = 'screen and (min-width:320px) and (max-width: 767px)'
medium = 'screen and (min-width: 768px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'